body {
	padding: 0;
	margin: 0;
    /* min-width: 300px; */
	font-size: 100%;
}

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #fff;
}

p {
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

img {
	display: block;
	width: 100%;
}
.flex {
	display: flex;
}

.hero {
	background: no-repeat url("./images/bg-mobile.svg"), #684bb1;
	background-size: contain;
    min-width: 300px;
	padding-inline: 2rem;
	padding-top: 1rem;
	padding-bottom: 0;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	/* row-gap: 3rem; */
	max-width: 100%;
	min-height: 100vh;
}

.hero__logo {
	flex-basis: 100%;
	width: 7.5rem;
}

.hero__logo img {
	width: 10rem;
}

.hero__cont {
	display: flex;
	flex-wrap: wrap;
	row-gap: 3rem;
	justify-content: center;
}

.hero__title h1 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.25rem;
}

.hero__text p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
}

.hero__button button {
	border-radius: 1.25rem;
	background: #fff;
	border: none;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);
	width: 12.5rem;
	height: 2.5rem;
}

.hero__button button:hover {
	background: #e880e8;
}

.hero__socials {
	flex-basis: 100%;
	padding-top: 2rem;
}

.hero__socials span {
	color: #FFF;
}

.hero__socials span:hover {
	color:#e880e8;
}
footer {
	flex-basis: 100%;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (min-width: 58.125em) { /*930px*/
	.hero {
		background-size: cover;
		row-gap: 0;
	}

	.hero__socials {
		padding-top: 0;
	}
}
@media (min-width: 60em) { /*960px*/
	.hero {
		background: no-repeat url("./images/bg-desktop.svg"), #684bb1;
		background-size: cover;
		
		text-align: left;
		column-gap: 2rem;
	}

	.hero__img {
		flex-grow: 2;
		flex-basis: 30vw;
		padding-top:1.5rem;
	}

	.hero__cont {
		
		flex-grow: 1;
		flex-basis: 30vw;
		justify-content: flex-start;
		align-content: flex-start;
		padding-top:3rem;
	}

	.hero__title h1 {
		font-size: 2rem;
		font-weight: 600;
		line-height: 2.5rem;
	}

	.hero__text p {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.6875rem;
	}

	.hero__button button {
		border-radius: 1.75rem;
		box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
		
	}

	.hero__socials {
		text-align: right;
	}
}

@media (min-width: 67.8125em) { /*1085px*/
	.hero {

		background-size: contain;

	}
}

@media (min-width: 90em) { /*1440px*/
	
	.hero__cont {
		/* align-content: space-evenly; */
	}
	
	.hero__title h1 {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 3.75rem;
	}

	.hero__text p {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.6875rem;
	}
}
